h1 {
    margin-left: -10%;
}

h3,
#sideinfo {
    text-align: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}


#headerpicture {
    background-image: url(bilder/header.jpg);
    height: auto;
    padding-top: 100px;
    padding-left: 500px;
}

#sidevalg {
    text-decoration: underline;
}

#menyliste {
    text-align: start;
    list-style-type: none;
    padding-top: 80px;
}

#hjemliste {
    padding-top: 40px;
}

#adresse {
    padding-top: 80px;
    text-align: center;
}

.produktliste {
    display: grid;
    grid-template-columns: auto auto auto auto;
    padding: 10px;
    justify-content: space-between;
}

.gridtekst {
    text-align: center;
    justify-content: space-between;
}

.menybar {
    display: flex;
    justify-content: space-evenly;
}

.produkt {
    display: grid;
    grid-template-columns: 2fr 2fr;
    margin-left: 30%;
    margin-right: 30%;
}

.utleie {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    padding-top: 100px;
}