main{
    width: 85%;
}

#varsler{
    display: flex;
    margin-top: 2.5%;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.varselInfo{
    background-color: #4f4f4f;
    color: white;
    font-size: 150%;
    padding: 0.8%;
    width: 100%;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
}

#i1{
    text-align: center;
    cursor: pointer;
    &:link{
        text-decoration: none;
    }
    &:hover{
        text-decoration: underline;
    }
}

#i2{
    text-align: right;
}

#prosessMeny{
    padding-top: 3%;
    border-bottom: 2px solid grey;
    width: 60%;
}

#prosessMeny *{
    margin: 0;
    padding: 0;
}


.pil{
    color: red;
    font-size: 140%;
    font-weight: bold;
    
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bookingBtn{
    background-color: #d00000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 130%;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2)
}

#velgRomBtn{
    all:unset;
    font-size: 125%;
    color: #7a7a7a;
    cursor: pointer;
}

#resultatBtn{
    all:unset;
    font-size: 125%;
    color: #7a7a7a;
    cursor: pointer;
}

#aktivitet{
    margin-top: 1.5%;
}

#gridContainer{
    display: grid;
    grid-template-columns: repeat(6, 15%);
    column-gap: 1%;
    grid-row-gap: 3%;
}

.top{
    font-weight: bold;
}

#gridContainer select,input{
    font-size: 110%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 3px;
    margin-bottom: 4px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: #374151;
    &:focus{
        outline: none;
        background-color: #E5E7EB;
        border: #E5E7EB;
    }
}

#nesteBtn{
    background-color: #d00000;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 55%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
    cursor: pointer;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.15);
    &:hover{
       box-shadow: 8px 8px 30px rgba(0,0,0,0.3); 
    }
}