main{
    width: 85%;
}

#varsler{
    display: flex;
    margin-top: 6%;
    justify-content: center;
    flex-direction: row;
    gap: 5%;
}

.varselInfo{
    background-color: #4f4f4f;
    color: white;
    font-size: 180%;
    padding: 0.8%;
    width: 100%;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
    font-family: "Bebas Neue", sans-serif; 
}

#i1{
    text-align: center;
    cursor: pointer;
    &:link{
        text-decoration: none;
    }
    &:hover{
        text-decoration: underline;
    }
}

#i2{
    text-align: right;
}

#prosessMeny{
    padding-top: 3%;
    border-bottom: 2px solid grey;
    width: 60%;
    font-family: "Bebas Neue", sans-serif; 
}

#prosessMeny *{
    margin: 0;
    padding: 0;
}


.pil{
    color: red;
    font-size: 140%;
    font-weight: bold;
    
}

#wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#wrapper2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#bookingBtn{
    background-color: #d00000;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 150%;
    margin: 4px 2px;
    cursor: pointer;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.2);
    font-family: "Bebas Neue", sans-serif; 
}

#velgRomBtn{
    all:unset;
    font-size: 125%;
    color: #7a7a7a;
    cursor: pointer;
}

#resultatBtn{
    all:unset;
    font-size: 125%;
    color: #7a7a7a;
    cursor: pointer;
}

#aktivitet{
    margin-top: 1.5%;
}

#gridContainer{
    display: grid;
    grid-template-columns: repeat(2, 100%);
    grid-row-gap: 10%;
    grid-column-gap: 3%;
    justify-content: center;
    margin-right: 5.5vw;
    
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-areas: "sidebar content";
    margin-bottom: 5vw;
}

.txt{
    font-weight: bold;
}

.txtT{
    font-weight: bold;
    width: 40%;
    font-size: 120%;
}

#headline, #headline2{
    font-weight: bold;
    font-family: "Bebas Neue", sans-serif; 
    font-size: 130%;
}

#headline2{
    font-size: 180%;
}

#gridContainer select,input{
    font-size: 110%;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 3px;
    margin-bottom: 4px;
    border: 1px solid black;
    border-radius: 3px;
    background-color: white;
    color: #374151;
    &:focus{
        outline: none;
        background-color: #E5E7EB;
        border: #E5E7EB;
    }
}

#gridContainer *{
    place-self: center;
}

#nesteBtn , #tilbakeBtn, #ferdigBtn{
    background-color: #d00000;
    border: 1px solid black;
    color: white;
    height: 100%;
    width: 55%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 120%;
    cursor: pointer;
    box-shadow: 10px 10px 30px rgba(0,0,0,0.15);
    &:hover{
       box-shadow: 8px 8px 30px rgba(0,0,0,0.3); 
    }
}

#tilbakeBtn, #ferdigBtn{
    border-radius: 3px;
    padding: 9px 15px;
    text-align: center;
    display: inline-block;
}

#ferdigBtn{
    background-color: green;
}

#btnContainer{
    display: flex;
    flex-direction: row;
    gap: 2vw;
    width: 15%;
    margin-top: 5vh;
}

#imgKart{
    margin-right: auto;
}

#valgtPlass{
    border: 1px solid blue;
    width: 17%;
    margin-right: 8%;
    justify-content: center;
}

.luft{
    padding-top: 26.2vh;
}

.luft2{
    padding-top: 3.30vh;
}

.footer{
    margin-top: 3vh;
}

table, th, td {
  border:1px solid black;
}



