.slagord {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 5px 10px;
    display: inline-block;
    border: none;
    max-width: 80%;
    margin: 5px 0; /* Justert margin for å påvirke bakgrunnshøyden */
}

.arrangementerTekst {
    position: absolute;
    top: 20%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    z-index: 4;
}

.innholdArrangementer {
    position: absolute;
    top: 32%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    z-index: 4;
}

.coworkingman {
    width: 100%;
    height: auto;
}
.knappMedlem {
    position: absolute;
    top: 30%; /* Justert avhengig av slagordets høyde */
    left: 20%; /* Justert til midten av siden */
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    color: black;
    padding: 10px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.header {
    z-index: 3; /* Plasser header foran det hvite laget */
}

.footer {
    z-index: 888; /* Plasser footer foran det hvite laget */
}
.hvittLag {
    position: fixed; /* Gjør elementet "sticky" */
    top: 0; /* Avstand fra toppen av siden */
    right: 0;
    bottom: 0;
    width: 50%; /* Juster bredden etter behov */
    background-color: rgba(255, 255, 255, 0.8); /* 0.8 gir 80% gjennomsiktighet */
    z-index: 2; /* Plasser det under header og footer, men over bildet og tekst */
    flex-grow: 1; 
  }


  .anmeldelser {
    position: absolute;
    top: 60%;
    left: 75%;
    transform: translate(-50%, -50%);
    color: black;
    text-align: center;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    z-index: 4; /* Plassert over det hvite laget (z-index: 3) */
  }

