.OverskriftKontakt {
    font-family: "Bebas Neue", sans-serif;  
    font-weight: 400; 
    font-style: normal; 
    font-size: 20px;
    z-index: 4;
    text-shadow: 1px 1px 2px rgba(112, 112, 112, 0.4);
    letter-spacing: 2px;
    padding: 1%;
    margin-bottom: 0;
    margin-top: -2%;
}

.KontaktTekst {
    padding: 1%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px; 
    line-height: 1.3;
    color: black;
    margin-top: -3%;
}

.telefonboks {
    background-color: #4f4f4f;
    color: white;
    font-size: 120%;
    padding: 0.2%;
    width: 10%;
    height: auto; /* Endre høyden til en passende størrelse i piksler */
    box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
    font-family: "Bebas Neue", sans-serif;
    margin-left: 1%;
    text-align: center;
    margin-bottom: 2%;
    letter-spacing: 2px;
}



/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    font-family: "Open Sans", sans-serif;
    font-size: 15px; 
    line-height: 1.3;
    color: black;
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    font-family: "Open Sans", sans-serif;
    font-size: 15px; 
    line-height: 1.3;
    background-color: #ffffff;
    color: black;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #ffffff;
  }
  
  /* Add a background color and some padding around the form */
  .kontaktskjema {
    width: 50%; /* Angi ønsket bredde, f.eks. 50% for å dekke halve skjermen */
    margin: 0; /* Sentrerer skjemaet horisontalt */
    padding: 20px; /* Legger til litt padding for å skille skjemaet fra kantene */
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px; 
    line-height: 1.3;
    color: black;
}