
  .TittelOmOss {
    font-family: "Calibri", sans-serif;
  }

  .bilde-container {
    width: 100vw; /* Setter bredden til 100% av viewport-bredden */
    height: 30vh; /* Setter høyden til 30% av viewport-høyden */
    overflow: hidden; /* Sørger for at bildet innhold ikke overskrider sin container */
}

.OmOssBilde {
    width: 100%; /* Setter bredden til 100% av containerens bredde */
    height: 100%; /* Setter høyden til 100% av containerens høyde */
    object-fit: cover; /* Sørger for at bildet dekker hele containeren og beholder proporsjonene */
}

.OmOssTekst {
    padding: 1%;
    font-size: 14px;
    font-family: Arial, sans-serif; /* Bytt til en enklere lesbar font */
    line-height: 1.3;
}


.knappMedlem {
    background-color: #ffffff;
    color: black; /* Tekstfarge */
    padding: 10px 20px; /* Padding (øverst og nederst, venstre og høyre) */
    font-size: 16px; /* Skriftstørrelse */
    border: none; /* Fjerner kanten */
    border-radius: 5px; /* Rundet hjørner */
    cursor: pointer; /* Endre musepekeren til en hånd når du svever over knappen */
    padding: 1%;
}
