body{
    background-color: #d9d9d9;
    margin: 0;
  }
  
  .header {
    position: fixed;
    background-color: #4f4f4f;
  }
  
  .header a {
    color: white;
    text-align: center;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
    font-size: 25px;
    line-height: 25px;
    border-radius: 15px; 
      }
  
  .header a.logo {   
      max-width: 15%;
      max-height: 15%; 
      float: left;
      margin-left: 1%;
  }
  
  .img{
      max-width: 100%;
  }
  
  .header a:hover {
    background-color: #d9d9d9;
    color: black;
  }
  
  .loggInn {
    background-color: white;
    color: black;
    padding: 10px 20px; /* Juster padding etter ønske for å gjøre den hvite boksen mindre */
    border: none; /* Fjern border */
    cursor: pointer;
    font-family: "Bebas Neue", sans-serif; 
    font-weight: 400; 
    font-style: normal; 
    font-size: 18px; /* Endre størrelsen på teksten etter behov */
    border-radius: 5px; /* Legg til runde kanter */
}
  
  
  .header-right {
    float: right;
    padding: 20px 10px;  
    display: flex;
    align-items: center;
  }
  
  .header-right a {
      padding: 12px;
  }
  

  
  .footimg {
    height: 10vh;
    position: absolute; /* Legg til position: absolute; */
    bottom: 0; /* Plasser bildet nederst */
    right: 0; /* Plasser bildet til høyre */
}

  .info {
    display: block; /* Convert <a> to block element */
    color: white; /* Set text color */
    padding: 5px;
    margin: 0;
    font-family: "Bebas Neue", sans-serif; 
    font-style: normal; 
    text-align: center;
    line-height: 1.6;
    letter-spacing: 2px;
  } 
  
  .footer { /* Medlemsskap har en ny footer */
    background-color: #4f4f4f;
    position: fixed;
    justify-content: space-between;
    height: 15%;
    overflow: hidden;
    bottom: 0;
    width: 100%;
    padding: 1%;
    margin: 0 auto;
  }
    
  .dropbtn {
    background-color: #4f4f4f; /* Bakgrunnsfarge */
    border: none;
    cursor: pointer;
}
  
/* Dette er dropdown ikonet + animasjonen*/
.nav div {
    height: 4px;
    background-color: white;
    margin: 5px 0;
    border-radius: 25px;
    transition: 0.1s;
}
.nav {
    width: 30px;
    display: block;
    margin: 1vh 1vw;    
}

/* 3 individe streker istedenfor en karakter*/
.one {
    width: 30px;
}
.two {
    width: 20px;
}
.three {
    width: 25px;
}

.nav:hover div {
    width: 30px;
}
/*------------------------*/


/* dropdown innhold */ 
.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0; /* Endret til right: 0; */
  text-align: left;
}
  
.dropdown:hover .dropdown-content {
  display: block;
}
  
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: right;
}