.TittelOmOss {
    padding-left: 1%;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    z-index: 4;
    text-shadow: 1px 1px 2px rgba(112, 112, 112, 0.4);
    letter-spacing: 2px;
}

.bilde-container {
    width: 100vw;
    height: 30vh;
    overflow: hidden;
}

.OmOssBilde {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.OmOssTekst {
    padding: 1%;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.3;
    color: black;
}

.knappMedlem {
    background-color: #7800f0;
    color: white;
    padding: 10px 20px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    padding: 1%;
    margin-bottom: 1%;
    margin-left: 0.5%;
}

.content-wrapper {
    display: flex;
}

.left-content,
.right-content {
    width: 50%;
    position: relative;


}

.right-content {
    width: 50%;
    position: relative;
}

.map-container {
    position: absolute;
    top: calc(50% + 15vh);
    /* Plasserer kartet 15% viewport-høyde under midten av foreldrelementet */
    left: 50%;
    /* Plasserer kartet horisontalt midt i foreldrelementet */
    transform: translate(-50%, -50%);
    /* Midtstiller kartet innenfor foreldrelementet */
    height: calc(30vh - 30px);
    /* Endrer høyden på kartcontaineren */
    width: 80%;
    margin-top: 15px;
}

.right-content iframe {
    height: 100%;
    width: 100%;
}